<style type="text/css">
  body {
    background: url('/assets/winner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  p {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }

  form {
    text-align: center;
  }

  .heading-container {

  }

</style>

<div class="row heading-container">
    <div class="large-4 small-offset-1 columns">
      <h4 class='danger'>The Fan's Challenge</h4>
      <p>The online home for sports fans</p>
    </div>
</div>

<div class="row">
  <div class="small-5 small-offset-1 columns">
    <%= link_to "Sign In", "#", :class => 'button expand radius' %>
  </div>
  <div class="small-5 small-offset-1 columns">
    <%= link_to "Sign Up", "#"  , :class => 'button secondary radius expand' %>
   </div>
</div>


