<h1>Challenge Comment Vote #<%= @challenge_comment_vote.id %></h1>

<p>
  <b>User:</b>
  <%= @challenge_comment_vote.user_id %>
</p>

<p>
  <b>Challenge comment:</b>
  <%= @challenge_comment_vote.challenge_comment_id %>
</p>

<p>
  <b>Vote:</b>
  <%= @challenge_comment_vote.vote %>
</p>


