<h1>Comment Vote #<%= @comment_vote.id %></h1>

<p>
  <b>User:</b>
  <%= @comment_vote.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment_vote.comment_id %>
</p>

<p>
  <b>Vote:</b>
  <%= @comment_vote.vote %>
</p>


