<h1>Challenge Comment #<%= @challenge_comment.id %></h1>

<p>
  <b>Text:</b>
  <%= @challenge_comment.text %>
</p>

<p>
  <b>Challenge:</b>
  <%= @challenge_comment.challenge_id %>
</p>

<p>
  <b>User:</b>
  <%= @challenge_comment.user_id %>
</p>


