<style type="text/css">
  .disagree {
    color: #D9534F;
    font-family: "Raleway"
  }

  h1 {
    font-family: "Times New Roman";
    text-align: center;
    text-decoration: underline;
  }

  p {
    text-align: center;
    font-size: 20px;
  }
</style>
<div class="container">
  <h1>Contact <span class='disagree'>The Fan's Challenge</span> Team</h1>

  <p>We appreciate you using our app to improve life for a sports fan. Let us know what we can do better.</p>

  <%= mail_to "jimmymowschess@gmail.com", "E-Mail Us", :class => 'btn btn-danger btn-block' %>
</div>
