<style type="text/css">
  .users p {
    text-align: center;
  }

  .score {
    color: #333333;
    float: right;
  }

  .fa, .fa-star {
    color: #D9534F;
  }

  .disagree {
    color: #D9534F;
    margin-bottom: 10px;
  }

  .game-container {
    border-radius: 5px;
    background-color: #333333;
    border: 1px solid #D9534F;
    padding: 15px;
    margin: 15px;
    }

  .vs {
    font-size: 45px;
    color: white;
    font-family: "Raleway";
  }

  .top {
    text-align: center;
    border-bottom: 1px solid #D9534F;
  }

  .bottom {
    text-align: center;
    padding-top: 5px;
  }

  h2 {
    border-bottom: solid 1px gray;
    text-align: center;
    color: black;
  }

  .bottom p {
    color: white;
  }

</style>


  <div data-role='content'>
      <h2>Today's Games</h2>
    <% @games.reverse.each do |game| %>
    <div class="game-container">

        <div class="top">
          <%= image_tag game.home_team.img_url, :class => 'pull-left img-thumbnail' %>
          <span class="vs">VS</span>
          <%= image_tag game.away_team.img_url, :class => 'pull-right img-thumbnail' %>
        </div>

        <div class="bottom">
          <p><i class="fa fa-flag disagree"></i> Challenges: <%= game.challenges.count %></p>
          <%#= link_to "Watch this game", game_url(game.id) %>
          <a href="http://localhost:3000/games/<%= game.id %>" data-role="button" class='watch-button' data-theme='d'>Watch this game</a>
        </div>

      </div>
    <% end %>
  </div> <!-- content -->


