<style type="text/css">
  .title {
    text-align: center;
  }

</style>

<fieldset class="ui-grid-b">
    <div class="ui-block-a title"><%= image_tag(@game.home_team.img_url) %></div>
    <div class="ui-block-b title"><p>VS.</p></div>
    <div class="ui-block-c title"><%= image_tag(@game.away_team.img_url) %></div>
</fieldset>


