<h1>Challenge Vote #<%= @challenge_vote.id %></h1>

<p>
  <b>User:</b>
  <%= @challenge_vote.user_id %>
</p>

<p>
  <b>Challenge:</b>
  <%= @challenge_vote.challenge_id %>
</p>

<p>
  <b>Vote:</b>
  <%= @challenge_vote.vote %>
</p>


